.App {
  text-align: center;
  background-color: rgb(41, 41, 41);
}

.main {
  background-color: rgb(16, 16, 16);
  max-height: 84px;
  max-width: 1366px;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  margin-right: 19.72px;
  align-items: center;
}

.user p {
  margin-right: 20px;
}

.title {
  height: 43px;
  width: 114px;
  left: 43px;
  top: 21px;
  font-family: SF Pro Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
   margin-left: 43px;
  /* line-height: 43px; */
}
